.discountPrice {
	font-size: 20px;
	width: 100px;
}

.discount {
	color: var(--forText);
	font-size: 18px;
	position: absolute;
	left: -24px;
	top: -5px;
}

.price {
	margin-top: 14px;
	font-weight: 500;
	font-size: 20px;
	display: flex;
	justify-content: center;
}

.dist {
	color: var(--main);
}

.priceBlock {
	display: flex;
	justify-content: center;
	width: 158px;
	position: relative;
}