.inputs {
	width: 750px;
	display: flex;
	justify-content: space-between;
	align-items: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
	margin-bottom: 10px;
	opacity: 1;
	transition: 0.2s;
}

.title {
	font-size: 24px;
	margin-top: 40px;
	border-bottom: 1px solid var(--additional);
	width: 166px;
}

.input {
	width: 350px;
	height: 40px;
    padding: 8px 15px;
    border-radius: 10px;
	font-size: 16px;
	border: 1px solid var(--additional);
	border-right: none;
	background-color: var(--thirdBg);
	color: var(--color);
	margin-top: 14px;
}

.buttons {
	display: flex;
	justify-content: space-between;
	width: 750px;
	margin-top: 20px;
	padding-top: 15px;
	border-top: 1px solid var(--additional);
	flex-wrap: wrap
}

.buttonsBlock {
	display: flex;
	opacity: 1;
	transition: 0.2s;
	flex-wrap: wrap;
}

.buttonBlock {
	opacity: 1;
	transition: 0.2s;
}

.form {
	position: relative;
	z-index: 3;
}

.formButton {
	padding: 9.5px 15px;
	font-size: 16px;
	border-radius: 10px;
	background-color: var(--thirdBg);
	color: var(--color);
	border: 1px solid var(--additional);
	transition: 0.4s;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.formButton:hover {
	cursor: pointer;
	box-shadow: 0px 0px 2px 1px var(--additional)
}

.formButton.green {
	border-color: var(--selection);
}

.formButton.green:hover {
	box-shadow: 0px 0px 2px 1px var(--selection);
}

.formButton.reset {
	border-color: #B57171;
}

.formButton.reset:hover {
	box-shadow: 0px 0px 2px 1px  #B57171;
}

.formButton:first-child {
	margin-right: 18px;
}

.formButton.iconButton {
	padding: 8px 15px;
	width: 54px;
	margin-right: 0;
}

.disabled {
	opacity: 0.7;
	pointer-events: none;
}

.bgDiv {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	transition: 0.4s;
	backdrop-filter: brightness(70%);
	opacity: 0;
	pointer-events: none;
}

.bgDiv.active {
	opacity: 1;
	pointer-events: all;
}

@media(max-width: 970px) {
	.inputs {
		width: 400px;
	}
	.buttons {
		width: 400px;
		padding-bottom: 40px;
	}
	.buttonsBlock {
		margin-top: 20px;
	}
}

@media(max-width: 400px) {
	.buttons {
		width: 300px;
	}
	.buttons {
		padding-top: 0px;
	}
	.buttonsBlock {
		margin-top: 10px;
	}
	.formButton {
		margin-top: 20px;
	}
	.input {
		width: 260px;
		font-size: 14px;
	}
}